<IfModule mod_rewrite.c>
    RewriteEngine On

    # If project root is the Apache DocumentRoot, forward to public/.
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
