parameters:
    level: 6
    paths:
        - src
        - tests
    excludePaths:
        - var/*
        - vendor/*
        - tools/*
    checkUninitializedProperties: true
    treatPhpDocTypesAsCertain: false
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    ignoreErrors: []

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
