{% set currentLocale = currentLocale|default(app.request.locale|default('fr')) %}
<div class="cv-public-nav-brand">
    <span class="cv-public-nav-brand__favicon-wrap">
        <img
            class="cv-public-nav-brand__favicon"
            src="{{ asset(site_favicon_href()) }}"
            alt="{{ 'cv.nav.favicon_alt'|trans({}, 'messages', currentLocale) }}"
            width="40"
            height="40"
            decoding="async"
        >
    </span>
    <a
        class="cv-public-nav-brand__home"
        href="{{ path('app_home') }}"
        aria-label="{{ 'cv.menu.home_aria_label'|trans({}, 'messages', currentLocale) }}"
    >
        <i class="bi bi-house-fill" aria-hidden="true"></i>
    </a>
</div>
